.project_1{
    display: flex;
    justify-content: center;
}
.project_period{
    font-family: 'dis2';
}
.project_discription{
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'dis2';
    font-size: 20px;
}
.project_functions{
    padding-top: 20px;
}

.project_function{
    display: flex;
}
.project_function__content{
    padding-left: 20px;
}
.thumbnail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 50%;
}

.thumbnail_img{
    width: 80%;
    height: 300px;
}

.project_function__content a {
    text-decoration: none;
    color: inherit;
}