ul {
    list-style: none;
}

.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    z-index: 10;
}

.navbar_title{
    font-size: 24px;
    cursor: pointer;
}

.navbar_contents{
    display: flex;
    width: 100%;
    height: 4.5rem;
    justify-content: space-around;
    align-items: center;
}

.navbar_list {
    display: flex;
    padding-left: 0;
}
.navbar_list li{
    padding: 2px 4px;
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width:580px){
    .navbar_title{
        font-size: 16px;
        cursor: pointer;
    }

    .navbar_list li{
        padding: 2px 4px;
        font-size: 11px;
        margin-left: 0px;
        margin-right: 5px;
        cursor: pointer;
    }
    
.navbar_contents{
    height: 3rem;
    justify-content: space-evenly;
}
}