
.main{
    background: url(./background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45rem;
}
.intro_name{
    font-size: 64px;
    font-family: 'main';
}

.intro_jht{
    font-size: 22px;
    color: rgb(86, 80, 80);
}

.line{
    border: 1px;
    background-color: black;
    width: 70px;
    height: 2px;
    margin: 30px 0px;
}
.intro_btn{
    margin-top: 30px;
}
.next{
    padding: 20px;
}
.next :hover{
    cursor: pointer;
}

@media (max-width:580px){
    .intro_jht{
        font-size: 14px;
        color: rgb(86, 80, 80);
    }

    .intro_name{
        font-size: 43px;
        font-family: 'main';
    }


}